Repository CS3219-AY2324S1/ay2324s1-course-assessment-g07, pull requests merged in 2023-10, with the labels that each got.

#41 Matchmaking service
  .gitignore
  collaboration-service/controllers/create-session-controller.js
  collaboration-service/index.js
  collaboration-service/package-lock.json
  collaboration-service/package.json
  docker-compose.yml
  frontend/app/collaboration/[sessionId]/page.tsx
  frontend/app/components/Collaboration/CollaborationSession.css
  frontend/app/components/Collaboration/CollaborationSession.tsx
  frontend/app/components/Matchmaking/Matchmaking.tsx
  frontend/app/components/Matchmaking/WaitingModal.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/users/login/page.tsx
  matchmaking-service/Dockerfile
  matchmaking-service/README.md
  matchmaking-service/controllers/event-controller.js
  matchmaking-service/controllers/kafka-consumer-controller.js
  matchmaking-service/controllers/kafka-producer-controller.js
  matchmaking-service/controllers/matchmaking-controller.js
  matchmaking-service/controllers/web-socket-controller.js
  matchmaking-service/index.js
  matchmaking-service/package-lock.json
  matchmaking-service/package.json
Labels: M2: Matching Service, M5: Frontend, priority.High

#53 Chat service
  .gitignore
  chat-service/controllers/firebase-controller.js
  chat-service/index.js
  chat-service/middleware/authorisation.js
  chat-service/package-lock.json
  chat-service/package.json
  chat-service/routes/firebaseConfig-route.js
  collaboration-service/controllers/session-controller.js
  frontend/app/collaboration/[sessionId]/page.tsx
  frontend/app/components/ChatService/ChatComponent.tsx
  frontend/app/components/ChatService/ChatMessage.tsx
  frontend/app/components/ChatService/ChatRoom.tsx
  frontend/app/components/ChatService/Loading.tsx
  frontend/package-lock.json
  frontend/package.json
  user-service/init-scripts/init.sql
Labels: N1: Communication, priority.High

#54 Question Service and Enhanced Question Service
  frontend/app/components/Client/LandingPage/GetStartedButton.tsx
  frontend/app/components/Client/NavigationBar/HomeButton.tsx
  frontend/app/components/Client/NavigationBar/LogoutButton.tsx
  frontend/app/components/Client/NavigationBar/ManageQuestionsButton.tsx
  frontend/app/components/LandingPage/GetStartedButton.tsx
  frontend/app/components/NavigationBar/NavigationBar.tsx
  frontend/app/components/Questions/ChevronDownIcon.jsx
  frontend/app/components/Questions/PlusIcon.jsx
  frontend/app/components/Questions/QuestionsTable.tsx
  frontend/app/components/Questions/SearchIcon.jsx
  frontend/app/components/Questions/VerticalDotsIcon.jsx
  frontend/app/components/Questions/data.js
  frontend/app/components/Questions/utils.js
  frontend/app/components/Server/Collaboration/CollaborationSession.css
  frontend/app/components/Server/Collaboration/CollaborationSession.tsx
  frontend/app/components/Server/LandingPage/LandingPage.tsx
  frontend/app/components/Server/NavigationBar/NavigationBar.tsx
  frontend/app/components/Server/NavigationBar/ProfileDropdown.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/questions/page.tsx
  frontend/app/users/login/LockIcon.jsx
  frontend/app/users/login/MailIcon.jsx
  frontend/app/users/login/page.tsx
  frontend/app/users/register/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.ts
  question-service/controllers/questions-controller.js
  question-service/models/question.js
  question-service/package-lock.json
  question-service/package.json
  question-service/questions.json
  question-service/routes/question-routes.js
Labels: M3: Question service, N4: Enhanced Question Service

#56 Update Question Functionality
  frontend/app/components/Questions/QuestionsTable.tsx
  frontend/app/components/Questions/data.js
  frontend/app/questions/page.tsx
  question-service/controllers/questions-controller.js
  question-service/routes/question-routes.js
Labels: N4: Enhanced Question Service

#70 User service API
  user-service/controllers/users-controller.js
  user-service/index.js
  user-service/routes/user-routes.js
Labels: M1: User Service, priority.High, type.Enhancement

#63 Ci cd workflows
  .github/workflows/build.yml
  chat-service/.dockerignore
  collaboration-service/.dockerignore
  collaboration-service/Dockerfile
  collaboration-service/deployment.yaml
  collaboration-service/service.yaml
  editor-service/.dockerignore
  editor-service/Dockerfile
  editor-service/deployment.yaml
  editor-service/service.yaml
  eval-service/.dockerignore
  eval-service/Dockerfile
  eval-service/deployment.yaml
  eval-service/service.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/deployment.yaml
  frontend/service.yaml
  history-service/.dockerignore
  matchmaking-service/.dockerignore
  matchmaking-service/Dockerfile
  matchmaking-service/docker-compose.yml
  question-service/.dockerignore
  user-service/.dockerignore
Labels: N8: CI/CD
