Repository CS3219-AY2324S1/ay2324s1-course-assessment-g07, pull requests merged in 2023-11, with the labels that each got.

#83 Room UI enhancements
  collaboration-service/controllers/session-controller.js
  eval-service/index.js
  frontend/app/collaboration/[sessionId]/page.tsx
  frontend/app/components/ChatService/ChatComponent.tsx
  frontend/app/components/ChatService/ChatMessage.tsx
  frontend/app/components/ChatService/ChatRoom.tsx
  frontend/app/components/Collaboration/CollabEditor.tsx
  frontend/app/components/Collaboration/LanguageSelect.tsx
  frontend/app/components/Collaboration/Panels.tsx
  frontend/app/components/Collaboration/Popups.tsx
  frontend/app/components/Collaboration/QuestionDropdown.tsx
  frontend/app/components/Collaboration/Timer.tsx
  frontend/app/components/Matchmaking/Matchmaking.tsx
  frontend/app/components/Server/NavigationBar/NavigationBar.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.ts
Labels: M4: Collaboration service, M5: Frontend, N1: Communication, N5: Enhanced Collaboration Service, N7: Generative AI, priority.High, type.Enhancement

#86 Update Question Table
  frontend/app/components/Questions/QuestionsTable.tsx
Labels: M5: Frontend, N4: Enhanced Question Service

#94 Hotfix history service calls wrong user endpoint
  .github/workflows/google.yml
  history-service/controllers/history-controller.js
  history-service/k8/templates/deployment.yaml
Labels: N2: History, type.Bug

#100 change feedback to false
  history-service/models/History.js
Labels: type.Bug
